/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: Poppins, sans-serif;
}

/* * {
  border: 1px solid red;
} */

/* NAVBAR */

nav {
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav--logo {
  height: 100%;
}

.nav--items > li {
  display: inline-block;
  padding: 0 10px;
}

.nav--items > li > a {
  text-decoration: none;
  color: inherit;
}

.nav--items > li > a:hover {
  color: #FE395C;
  font-size: 1.05rem;
  font-weight: bold;
  text-decoration: underline;
}

/* HERO */
section {
  padding: 60px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 100vw;
  align-self: center;
}

.hero--title {
  font-size: 36px;
  margin-top: 32px;
  margin-bottom: 16px;
}


/* CARD */

.cards-list {
  display: flex;
  gap: 20px;
  padding-top: 0;
}

.card {
  margin-bottom: 20px;
}

.card--image {
  width: 276px;
  height: 325px;
  border-radius: 9px;
  object-fit: cover;
}

.card--stats {
  display: flex;
  align-items: center;
  margin-top: 9px;
}

.card--stats--rating {
  font-size: 1rem;
  padding-right: 3px;
}

.card--stats--location {
  margin-left: auto;
}

.card--stats--star {
  padding-right: 3px;
  height: 13px;
}

.card--title {
  font-size: .9rem;
  margin-top: 0px;
  font-weight: 500;
}

.card--host {
  font-size: .9rem;
  margin-top: 0px;
}

.card--price {
  margin-top: 0px;
}

.gray {
  color: #918E9B;
  font-size: .75rem;
}

.bold {
  font-weight: bold;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  width: 100%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px;
}

.footer--links > li {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
}

.footer--name {
  color: #FE395C;
  font-weight: bold;
}

.footer--name > a {
  text-decoration: none;
  color: inherit;
}